*.html
*.pdf
*.redxml
*.swp
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
Gemfile.lock
archive.json
draft-mcguinness-oauth-presenter-rebinding.txt
draft-mcguinness-oauth-presenter-rebinding.xml
package-lock.json
report.xml
!requirements.txt
